body {
    background-color: #fff;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 100;
}

h2 {
    font-size: 52px;
    font-weight: 100;
}

h3 {
    font-size: 46px;
    font-weight: 400;
}

h4 {
    font-size: 38px;
    font-weight: 700;
}

h5 {
    font-size: 32px;
    font-weight: 600;
}


.header-image {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #FFFFFF 50%, rgba(255, 255, 255, 0.00) 100%);
    z-index: 1;
}

.menu {
    width: auto;
    display: flex;
    padding: 34px 34px 60px 34px;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.menu ul {
    justify-content: center;
    align-items: center;
}

.menu li {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.50em;
    font-style: normal;
    font-weight: 600;
}

.menu li a {
    color: #000;
    text-decoration: none;
}

.menu li img {
    width: 162px;
    height: auto;
}

.menu li .button1 {
    color: #FFF;
}

.menu a:hover {
    text-decoration: underline;
}

.button1 {
    display: flex;
    width: 140px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
    background: var(--8-e-4-a-49, #8E4A49);
    text-decoration: none;
}

.login-btn {
    display: flex;
    width: 140px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
    background: var(--8-e-4-a-49, #8E4A49);
    text-decoration: none;
}

.button2 {
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    background-color: #121726;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
}

.button2:hover {
    background-color: #606165;
    border: 0.5px solid #121726;
    transition: 0.2s ease;
}

.toggle-button {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 0;
}

#toggle-menu {
    display: none;
}


/** INDEX **/


main {
    display: flex;
    flex-direction: column;
    margin: 0px 80px 0px 80px;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.main-top {
    display: inline-flex;
    flex-direction: column;
    max-width: 640px;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 85px;
}

.main-topimg1,
.main-topimg2,
.main-topimg3 {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
} 

.main-topimg1 img {
    width: 100%;
    height: 372px;
    object-fit: cover;
}

.main-topimg2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-topimg3 img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    flex-shrink: 0;
}

.main-middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-view {
    display: flex;
    align-items: center;
}

.prev-btn, .next-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.item-list {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 80%;
    height: 400px;
    margin: 0 15px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.blog-archive-container {
    margin-top: 30px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
}

.blog-list .carousel-item {
    width: calc(33.333% - 30px);
    margin: 15px;
}

.button1 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.carousel-container .post-title {
    font-size: 2.5em;
    color: #000;
    display: inline-block; 
    margin-bottom: 10px; 
    cursor: pointer; 
    transition: transform 0.3s;
}

.carousel-container .post-author {
    font-size: 1.5em;
    color: #000;
    display: inline-block; 
    margin-bottom: 10px; 
}

.carousel-container .post-date {
    font-size: 1em;
    color: #8E4A49;
    font-style: italic;
}

.read-more {
    margin-top: 20px;
}

/** POST INDEX **/

.post-index {
    height: 300px;
    background:#FFF;
}

.post-index .navbar {
    height: 300px;
}

main.post-index-main {
    display: flex;
    flex-direction: column;
    margin: 0 80px;
}

.main-top-index {
    display: flex;
    width: 100vw;
    height: 430px;
    background: url(/images/phil-5i0GnoTTjSE-unsplash.jpg);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-middle-header {
    width: 100vw;

    align-items: center;
    text-align: center;
}

.blog-archive {
    display: flex;
    flex-direction: column;
}

.blog-archive-header h2 {
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog-archive-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.blog-archive-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 44px 0;
}

.blog-archive-view .blog-list {
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.blog-item {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    height: 255px;
    width: 255px;
    gap: 7px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

/** POST INDEX **/

.edit-index {
    height: auto;
    background:#FFF;
}

.edit-index .navbar {
    height: auto;
}


.edit-page-header {
    width: 100vw;
    height: 162px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    background-color: #8E4A49;
}

.edit-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-nav h1 {
    width: 100%;
    height: auto;
    background-color: #8E4A49;
    color: #FFF;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

#createPostBtn {
    display: flex;
    width: 140px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
    background: var(--8-e-4-a-49, #8E4A49);
    text-decoration: none;
}

#createPostBtn:hover {
    text-decoration: underline;
    cursor: pointer;
} 

main.post-container {
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 80px; 
    padding-bottom: 50px; 
    margin-top: 50px; 
}

.post-container {
    margin-left: 5%; 
    margin-right: 5%; 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    justify-content: center; 
    gap: 2.5rem; 
}

.post-box { 
    border: 1px solid black; 
    border-radius: 5px; 
    text-align: center; 
    padding: 15px; 
} 

.category {
    border: 1px solid #121726;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    display: inline-block;
}

.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.blog-image {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.blog-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.postImage {
    display: none;
}

.blogimage {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8E4A49;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.blogimage:hover {
    background-color: #606165;
}

.post-image {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: 10px 0;
}



.modal {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    max-width: 50%;
    width: 100%;
    height: 75%;
    margin: auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 80vh;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content h2 {
    background-color: #8E4A49;
    color: #FFF;
    font-size: 38px;
    text-align: center;
}


.modal.fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.post-message {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}



.load-more {
    background-color: #8E4A49;
    color: #FFF;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s;
}

.load-more:hover {
    color: #7180B9;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}



@media only screen and (max-width: 700px) {

    h1 {
        font-size: 1.6em;
    }

    .post-container {
        grid-template-columns: 1fr;
    }

    .modal-content {
        max-width: 90%;
    }

    .menu {
        display: none;
        position: absolute;
        flex-direction: column;
        max-width: 100%;
        right: 0;
        left: 0;
        top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        background-color:white;
    }

    .menu ul {
        padding-top: 20px;
    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-top: 0.5px solid #3D2D5C;
    }

    .menu a {
        color: black;
        font-weight: bold;
    }

    .header-image {
        display: none;
    }

    .navbar {
        position: absolute;
        background-color: #FBFDFC;
        width: 100%;
        height: 34px;
        text-align: end;
        right: 0;
        bottom: 0;
    }

    .toggle-button {
        display: block;
        float: right;
        font-size: 2rem;
        color: #121726;
        cursor: pointer;
        padding-right: 20px;
        padding-top: 20px;
    }

    .toggle-button:checked {
        position: absolute;
        color: #121726;
    }

    #toggle-menu:checked + .toggle-button + nav .menu {
        display: flex;
    }

    .main-top {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main-topimg1 img {
        height: 200px;
        width: auto;
    }

    

}

button {
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    transition: all .3s ease-in-out;
}

.carousel-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.carousel-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 44px 0;
    transition: all 0.25s ease-in;
}

.carousel-view .item-list {
    max-width: 1440px;
    width: 80vw;
    padding: 50px 10px;
    display: flex;
    gap: 48px;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    scroll-snap-type: x mandatory;
}



.item {
    scroll-snap-align: center;
    min-width: 320px;
    height: 520px;
    border: 0.2px solid #000;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item-list::-webkit-scrollbar {
    display: none;
}

.button-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prev-btn {
    background-color: #606165;
    font-size: 3em;
    opacity: 0.5;
    width: 79px;
    height: 79px;
    border-radius: 50px;
    cursor: pointer;
}

.next-btn {
    background-color: #606165;
    font-size: 3em;
    opacity: 0.5;
    width: 79px;
    height: 79px;
    border-radius: 50px;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #121726;
}

.fa-solid.fa-share-nodes,
.fa-regular.fa-heart,
.fa-regular.fa-comment {
    font-size: 2em;
    color: #8E4A49;
}

.main-bottom {
    display: flex;
    width: 100%;
    height: 720px;
    background: url(images/daniil-silantev-UIcBEy5TDTA-unsplash.jpg) lightgray 50% / cover no-repeat;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 20px;
}

.main-bottom-content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 360px;
    padding: 34px;
    background-color: #8E4A49;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/** Footer **/

footer {
    display: flex;
    height: 400px;
    padding: 40px 160px;
    justify-content: center;
    align-items: center;
    background-color: #121726;
    color: #fff;
    margin-bottom: 0;
}

.footer-container {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 30px;
}

.footer-top {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer-top li {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    padding: 20px;
}

.footer-top li img {
    width: 162px;
    height: auto;
}

.footer-top li a {
    color: #FFF;
    text-decoration: none;
}

.footer-top li a:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
    width: 240px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.footer-bottom {
    color: var(--f-2-f-2-f-2, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    display: flex;
    width: 100%;
    background: #fff;
    border: 0.5px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-details img {
    max-width: 330px;
    height: 100%;
    object-fit: cover;
}

.form-box h4 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: auto;
    padding: 35px;
}

.form .input-field {
    position: relative;
    height: 65px;
    width: 100%;
    margin-top: 20px;
}

.form .input-field input {
    width: 330px;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 20px;
    font-family: nunito;
    border-radius: 5px;
    border: 0.5px solid #606165;
}

.input-field input:focus {
    border-color: #7180B9;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #606165;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    color: #7180B9;
    font-size: 0.65em;
    transform: translateY(-120%);
}

input::placeholder  {
    color: transparent;
}

.form-box a {
    color: #7180B9;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text) {
    display: inline-flex;
    margin-top: 14px;
    font-size: 20px;
}

.form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.50em;
    font-weight: 400;
    padding: 15px 0;
    border-radius: 5px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background-color: #8E4A49;
    transition: 0.2s ease;
}

.form button:hover {
    background-color: #806767;
}

.form-box .bottom-link {
    text-align: center;
}

.signup .policy-text {
    display: flex;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 760px) {
    .form {
        width: 100%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }

    .carousel-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    
    .carousel-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 44px 0;
        transition: all 0.25s ease-in;
    }
    
    .carousel-view .item-list {
        max-width: 760px;
        width: 80vw;
        padding: 40px 10px;
        display: flex;
        gap: 28px;
        scroll-behavior: smooth;
        transition: all 0.25s ease-in;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }
    
    
    .item {
        scroll-snap-align: center;
        min-width: 200px;
        height: 260px;
        border: 0.2px solid #000;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    .item-list::-webkit-scrollbar {
        display: none;
    }
    
    .prev-btn {
        background-color: #606165;
        font-size: 24px;
        opacity: 0.5;
        width: 42px;
        height: 42px;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .next-btn {
        background-color: #606165;
        font-size: 24px;
        opacity: 0.5;
        width: 42px;
        height: 42px;
        border-radius: 50px;
        cursor: pointer;
    }

    footer {
        display: flex;
        height: 200px;
        padding: 40px 160px;
        justify-content: center;
        align-items: center;
        background-color: #121726;
        color: #fff;
        margin-bottom: 0;
    }
    
    .footer-container {
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        gap: 30px;
    }
    
    .footer-top {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .footer-top li {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 200;
        padding: 10px;
    }
    
    .footer-top li img {
        width: 80px;
        height: auto;
    }
    
    .footer-top li a {
        color: #FFF;
        text-decoration: none;
    }
    
    .footer-top li a:hover {
        text-decoration: underline;
    }
    
    .icons {
        display: flex;
        width: 140px;
        font-size: 1.5em;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    
    .footer-bottom {
        color: var(--f-2-f-2-f-2, #FFF);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }

}



    
